#main{
    position: relative
}

#conteudo{
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    position: absolute;
    padding: 0%
}

#grupo{
    padding-top: 2%;
    height: 47%
}

#tabela{
    table-layout: auto;
    width: 95%;
    height: 85%
}

#titulo{
    margin-top: 0%
}

#tabela tr {
    border-bottom: 1pt solid
}

.bordaLado{
    border-right: 1pt solid
}

#rodadaGrupo{
    height: 63%
}

#jogos{
    width: 100%;
    text-align:center;
    margin: 0%
}

#cardRodadas{
    height: 83%;;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
}

#headerCard{
    background-color: #F5EED5;
    padding: 0%
}

#cardCorpo{
    padding: 2%
}

#tabela2{
    vertical-align: auto;
    table-layout: auto;
    width: 100%;
    font-size: 11px;
    height: 85%
}

.linhaTab td{
    padding-bottom: 5%;
}