#main{
    position: relative;
}

#conteudo{
    top: 0%;
    height: 100%;
    position: absolute;
    
    padding-bottom: 0%
}

#grupo{
    padding-top: 3%;
    height: 47%;
    background-color: white;
}

#rodadaGrupo{
    height: 69%;
    background-color: white;
}

#cardRodadas{
    height: 80%;
    margin-top: 0%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 0%
}

#jogos{
    width: 100%;
    text-align:center;
    margin-top: 0%;
    margin-bottom: 0%;
}

#tabela{
    table-layout: auto;
    width: 95%;
    height: 85%;
}

#headerCard{
    background-color: #F5EED5;
    padding: 0%;
}

#titulo{
    margin-top: 0%;
}

#tabela tr {
    border-bottom: 1pt solid;
}

.selecoes{
    border-right: 1pt solid #666;
}

#tabela2{
    margin-top: 5%;
    table-layout: auto;
    width: 100%;
    font-size: 11px;
    height: 85%;
}

.linhaTab td{
    padding-bottom: 13%;
}

