.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 20px black, 0 -10px 20px black, 
	    0 10px 20px black, -20px 0 40px black, 
	    20px 0 40px black;
    }
  
    .card-subtitle {
      font-size: 0.8em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
      text-shadow: 0 0 20px black, 0 -10px 20px black, 
	    0 10px 20px black, -20px 0 40px black, 
	    20px 0 40px black;
    }
  
  }