ion-icon {
    font-size: 26px;
}

ion-title{
    text-align: center;
}

ion-header{
    border-bottom: 1px solid white
}

@media only screen and (max-width: 320px) {    
    ion-buttons{
        margin-right: 6%;
        display: block !important;
        width: 8%
    }
}

@media only screen and (min-width: 321px) {    
    ion-buttons{
        margin-right: 6%;
        margin-left: 4%;
        display: block !important;
        width: 6%
    }
}

@media only screen and (min-width: 768px) {    
    ion-content {
        font-size: 18pt
    }
    ion-buttons{
        margin-right: 2%;
        margin-left: 2%;
        display: block !important;
        width: 3%
    } 
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ion-header{
    ion-navbar{
        div.toolbar-background{
             background-image: url('../assets/bg2.jpg');
             background-repeat: no-repeat;
             background-size:cover;
             text-align: center;
        }
    }
}
ion-content{

        background-image: url("../assets/bg.jpg")
   
}

ion-row, p, div{
    color: white
}
ion-header ion-icon.back-button-icon.icon {
    color: map-get($colors, light);
}

ion-header ion-icon {
    color: map-get($colors, light);
}

ion-header .iconNulo {
    color: map-get($colors, cinza);
}

ion-segment-button {
    background-color: rgb(193, 0, 13) !important          
}