ion-icon {
    font-size: 26px;
}
/*
.toolbar-background {
    background-color: white;
}

.slider-pager-page:only-of-type{ 
    display:none; 
}
*/
ion-title{
    text-align: center;
}


ion-header{
    border-bottom: 1px solid #666
}

////////



@media only screen and (max-width: 320px) {    
    ion-buttons{
        margin-right: 6%;
        display: block !important;
        width: 8%
    }
}

@media only screen and (min-width: 321px) {    
    ion-buttons{
        margin-right: 6%;
        margin-left: 4%;
        display: block !important;
        width: 6%
    }
}

@media only screen and (min-width: 768px) {    
    ion-content {
        font-size: 18pt
    }
    ion-buttons{
        margin-right: 2%;
        margin-left: 2%;
        display: block !important;
        width: 3%
    } 
}