@font-face {
    font-family: "proximanova-bold";
    src: url('../assets/fonts/proximanova-bold.ttf') format('truetype');
}

@font-face{
    font-family: proximanova-regular;
    src: url('../assets/fonts/proximanova-regular.ttf') format('truetype');
}

ion-icon {
    font-size: 26px;
}

.toolbar-background {
    background-color: white;
}

.slider-pager-page:only-of-type{ 
    display:none; 
}

ion-title{
    text-align: center;
}

ion-buttons{
    padding-right: 2%;
    background-color: white;
    display: block !important;
    width: 16% !important;
}

.placar-jogo-informacoes{
    color:#666;    
    font-family: "proximanova-bold";
    text-transform:uppercase;
}

.placar-jogo-informacoes-local{
    font-family: "proximanova-regular";
}