page-historia {
    overflow-y: auto;
    h2.feed_title {
        color: black;
        font-weight: bold;
    }

    p.feed.date {
        color: red;
    }
    .bloco{
        position: absolute;
        margin-top: 3%
    }
}
