page-historia {
    h2.feed_title {
        color: black;
        font-weight: bold;
    }

    p.feed_sub {
        color: black;
    }
    .kkk{ bottom: 5%; position: absolute;}

    p.feed_sede {
        font-weight: bold;
    }
}
